# IDE & OS
.vscode/
.idea/
.DS_Store

# Cache & Logs
.pytest_cache/
.ruff_cache/
*.log

# Build & Dist
dist/
build/

# --------------------------
# Custom Project Files
# --------------------------
# Add your files here (e.g., output data, temp binaries)
main